@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:black">
    <h1 style="font-family:'PT Sans'">Projet architecture 3D</h1> <header>
	<p class="lead" style="font-family:'PT Sans'">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		ornare odio vel ante facilisis, ut finibus nisl sagittis. 
		Quisque et tellus iaculis, mollis ex a, posuere velit. Praesent turpis ligula, auctor a mi non, bibendum tristique mauris. 
		Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque leo nisl, auctor sagittis malesuada non, pharetra sit amet mauris. 
		Praesent ut lacus et diam condimentum laoreet. In eleifend dapibus fermentum. Nam sit amet sagittis turpis. Etiam vitae diam fringilla, malesuada nisi et, pretium elit.
		Praesent congue fringilla diam iaculis laoreet. Phasellus massa lorem, tincidunt non leo quis, condimentum finibus ipsum. Suspendisse cursus urna felis, a venenatis felis tempus nec.
	</p>
</header>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>


<div class="row" style="font-family:'PT Sans'">
	<h1 class="text-center">Our past projects</h1>
	<div style="position:center" class="col-md-4">

		<p><img src="~/Content/villa-hotel-3d-model-max.jpg" width="300" /></p>
		@*<h2>Welcome</h2>
			<p>
				Démarrez ici en créant un nouveau projet
				<li>@Html.ActionLink("Créez votre nouveau projet", "Index", "Création_de_Projet")</li>
			</p>*@

		@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
	</div>
	
	<div class="col-md-4">

		<p><img src="~/Content/architecture-3d-model.jpg" width="300" /></p>

		@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
	</div>
	<div class="col-md-4">
			<p><img src="~/Content/modern-apartment-building.jpg" width="300"/></p>
		</div>
</div>